*{
    padding:0;
    margin:0;    
}

body{
    display:flex;
    justify-content: center;
    align-items:center;
    height:100vh;
    background:linear-gradient(to right,#7f2b7f,#6b3445);
}
.container{
    padding:50px;
    background-color: rgb(24, 119, 114);
}
input[type="text"]
{
    width:100%;
    padding:5px;
}
input[type="number"]
{
    width:25%;
    padding:3px;
    font-weight: 20px;
}
.control{
    display:flex;
    justify-content: space-between;
    margin-top:20px;
}
.btn:hover{
    background-color: rgb(22, 104, 15);
    transform: scale(2);
}
.btnCopy:hover{
    background-color: rgb(126, 167, 32);
    transform: scale(2);
}